*{
    font-family: 'Verdana';
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 20;
}
#img{
    margin-top: 20px;
    left: 0;
    
}
.background{
    width:100%;
    position: fixed;
    z-index: -1;
    left: 0;
}
#Title{
    background: linear-gradient(rgb(55, 108, 221),white)
}
/*small screen mobile viewing*/
@media only screen and (max-width:480px){
    #Title{margin-top: 200px;} 
    .content{padding: 20px;} 
    .big-icon{font-size: 50px;}
    #Testimonials{padding: 0 5px 30px 5px;}
    #Testimonials p {font-size: 15px;}
    .email{width: 100%;
    font-size: 18px;}
    .contact{
        text-align: center;
        width:100%;
    }
    .fa-envelope{text-align: center; 
    }
    #Services {
        background-color: #333333;
        color: #F7F9F9;
        font-size: 18px;
    }
    .carousel-indicators{
        position: relative;
        bottom:-250px;
    }
    .item{
        padding:2px;
    }
    .blockquote{
        border-left: none;
    }
}
/*larger screens*/
@media only screen and (min-width:480px){
#Title{margin-top: 400px;} 
.content{padding: 30px; margin:auto;}  
.col-md-6{padding:0;}
.email{ width: 100%; bottom:0;}
.fa-envelope{text-align: center;}
.big-icon{font-size:26px;}
#Services {
    background-color: #333333;
    color: #F7F9F9;
    font-size: 22px;   
}
.carousel-indicators{
    position: relative;
    bottom:-300px;
}
.item{
    padding: 30px;
}
}


ul{
    margin-top:10px;
}
#About{
    background-color: #e6e6e6;

}
.emailcontact{
    font-style: Verdana;
    display:block;
    width: 100%;
    bottom: 0;
}

.fa{
    margin: 5px;
}




.logo {
    display: block;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.no-margin {
    margin: 0;
}


li {
    display: block;
}
.skills::before {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    font-size: 18px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: -17px;
  }
.skills{
    margin: 10px;

  }
#Expertise{
    background-color:#F7F9F9;
}
.Jobrole {
    display: block;
    margin: 10px;
}
.expert{
    display: inline-block;
}
.Dad {
    float: right;
    margin-top: auto;
    width: 20%;
    margin-bottom: auto;
}

.fa {
    display: block;
    height: 5%;
}
.linkedin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width : 768px) {
.is-table-row {
    display: table;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
}

#Testimonials {
    min-height: 357px;
}

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}
.item{
    border-radius: 50px;
    background-color:#333333;
}

.item p {
    color: #c0c0c0;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* Control buttons  */
.carousel-control
{
  background: none;
  color: #222;
  font-size: 4em;
  text-shadow: none;
  margin-top: 60px;
}
/* Previous button  */
.carousel-control.left 
{
  left: -12px;
}
/* Next button  */
.carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
.carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: -50px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
.carousel-indicators li 
{
  background: #c0c0c0;
}
.carousel-indicators .active 
{
  background: #333333;
}
.carousel-indicators{
    position: relative;
}

/* End carousel */

.item blockquote { 
    margin: 10px;
}




/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    .carousel-indicators {
        bottom: 0px !important; 
    }
    .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
.footer {
    background-color: #222;
    color: #F7F9F9;

    text-align: center;
}
.contactDetails{
    display: block;
    padding:20px;
    
}
#contact .row{
    margin-bottom: auto;
    margin-top: auto;
}    
